<div class="header">
        <div class="navbar">
          <div class="logo">
            <a href="#">Loren</a>
          </div>
          <div class="nav-content">
            <ul class="nav-items">
              <li class="items">
                <a class="item-link" href="#">Dashboard</a>
              </li>
              <li class="items">
                <a class="item-link" href="#">Contact</a>
              </li>
              <li class="items">
                <a class="item-link bttn" href="#">Sign In</a>
              </li>
              <li class="items">
                <a class="item-link bttn" href="#">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
