<div class="footer-wrapper">
        <div class="footer">
          <div class="footer-left-content">
            <h3 class="footer-content-heading">Footer Content<sup>&nbsp;</sup></h3>
            <p class="footer-content-description"> This is a Description</p>
          </div>
          <div class="footer-right-content">
            <h3 class="footer-content-heading">Loren Co.<sup>&#174;</sup></h3>
            <p class="footer-content-description"> This is a Description</p>
          </div>
        </div>
      </div>
