<div class="page-body">
  <div class="login-body">
    <div class="Brand">
      <h1 class="Brand Logo">Brand Logo</h1>
      <p class="Brand caption">This is caption</p>
    </div>
    <div class="login-info">
      <div class="login-heading">Login</div>
      <div class="login-input">
        <div><label>
            <input class="input-group" type="text" id="email" placeholder=" "><span>Email</span>
          </label></div>
        <div><label>
            <input class="input-group" type="password" id="password" placeholder=" "><span>Password</span>
          </label> </div>
      </div>
    </div>
    <div class="nav-bttn">
      <div class="login-button">
        <a class="bttn item-link">Sign In</a>
      </div>
      <div class="register-button">
        <a class="bttn-white item-link">Register</a>
      </div>
    </div>
  </div>
</div>
