<div class="wrapper">
  <div class="header">
    <div class="navbar">
      <div class="logo">
        <a href="#">Loren</a>
      </div>
      <div class="nav-content">
        <ul class="nav-items">
          <li class="items">
            <a class="item-link" href="#">Dashboard</a>
          </li>
          <li class="items">
            <a class="item-link" href="#">Contact</a>
          </li>
          <li class="items">
            <a class="item-link bttn" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="login-body">
      <div class="Brand">
        <h1 class="Brand Logo">Brand Logo</h1>
        <p class="Brand caption">This is caption</p>
      </div>
      <div class="login-info">
        <div class="login-heading">Login</div>
        <div class="login-input">
            <div><label>
              <input class="input-group" type="text" id="email" placeholder=" "><span>Email</span>
            </label></div>
            <div><label>
              <input class="input-group" type="password" id="password" placeholder=" "><span>Password</span>
            </label> </div>
        </div>
      </div>
      <div class="nav-bttn">
      <div class="login-button">
        <a class="bttn item-link">Sign In</a>
      </div>
      <div class="register-button">
          <a class="bttn-white item-link">Register</a>
      </div>
    </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer">
      <div class="footer-left-content">
        <h3 class="footer-content-heading">Footer Content<sup>&nbsp;</sup></h3>
        <p class="footer-content-description"> This is a Description</p>
      </div>
      <div class="footer-right-content">
        <h3 class="footer-content-heading">Loren Co.<sup>&#174;</sup></h3>
        <p class="footer-content-description"> This is a Description</p>
      </div>
    </div>
  </div>
</div>
