.dashboard-wrapper{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img{
    transition: myfade 10s ease-in;
}
.welcome-box{
    display: flex;
    justify-content: space-around;
}
.website-heading{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.btn{
    margin: 4px;
    background-color: #387ed1;
    background: #6d48e5;
    color: #FFFFFF !important;
    border: 1px solid transparent !important;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
@keyframes myfade {
    0%{
        opacity: 0;
    }
    100%{
       opacity: 100;
    }
}