  .item-link {
    display: inline-block;
    height: 30px;
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
  }

  .page-body {
    margin: 70px auto;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-around;
  }

  .login-body {
    color: #482d9e;
    align-content: space-around;
  }

  .login-heading {
    margin: 20px 0px;
  }

  .input-group {
    height: 28px;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent !important;
  }

  .input-group:focus {
    border-bottom: 1px solid rgb(0, 0, 255) !important;
    border-right: 1px solid rgb(0, 0, 255) !important;
    border-top: 1px solid rgb(0, 0, 255) !important;

    border-radius: 4px;
    outline: none;
    transition: 0.3s;
  }

  .input-group::-webkit-inner-spin-button,
  .input-group::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  label {
    margin: 0;
    position: relative;
    display: inline-block;
  }

  span {
    padding: 10px 0px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    opacity: 0.5;
  }


  input:focus+span,
  input:not(:placeholder-shown)+span {
    opacity: 1;
    transform: translateX(-125%);
  }


  .login-button,
  .register-button {
    margin: 20px 0px;
  }

  .bttn {
    margin-left: 4px;
    background-color: #387ed1;
    background: #6d48e5;
    color: #FFFFFF !important;
    border: 1px solid transparent !important;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .bttn-white {
    margin-left: 4px;
    background-color: #387ed1;
    background: #FFFFFF;
    color: #6d48e5 !important;
    border: 1px solid #6d48e5 !important;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .nav-bttn {
    display: flex;
    vertical-align: baseline;
  }

  .or {
    justify-self: center;
    ;
  }

  a {
    text-decoration: none;
    color: #6d48e5;
  }

  a:hover {
    color: #410fe4;
  }
